@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.lato{
  font-family: "Lato", sans-serif;
}

 input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid #888;
      border-radius: 4px;
      cursor: pointer;
    }
    input[type="checkbox"]:checked {
      background-color: rgb(255, 119, 41);
      border-color: rgb(255, 119, 41);
    }

    input[type="checkbox"]:checked::after {
      content: "✔";
      color: white;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }


    
    /* Light theme (default) */
body {
  background-color: white;
  color: black;
}

/* Dark theme */
body.dark {
  background-color: #1a1a1a;
  color: white;
}
